<!DOCTYPE html>
<html ng-app="cnds">
<head>
	<title>.: CNDS - Cadastro Nacional de Doadores de Sangue :.</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"></meta>
	<meta charset="utf-8"></meta>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/custom.css" media="screen" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<!--
	-->
</head>
<body>
	<header>
		<div class="navbar navbar-default navbar-fixed-top col-lg-12">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">
						<!--<img src="imagens/gotaSangue.png" height="50" class="marginright10"/>-->
						<!--<img src="imagens/pingo-sangue06.svg" height="50" class="marginright10"/>-->
						<img alt="Doe sangue" src="/assets/doe-sangue.svg" height="50" class="marginright10" >
						<!--<img src="imagens/pingo-sangue03.svg" height="50" class="marginright10"/>-->
						<div class="width290 margintop5">
							<span>Doador de Sangue</span>
							<br/>
							<span class="font12">Cadastro Nacional de Doadores de Sangue</span>
						</div>
					</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li>
							<a href="/">Home</a>
						</li>
										<li>
							<a href="/cadastros/new">Cadastre-se</a>
						</li>
						<li>
							<a href="/solicitacao">Solicite Sangue</a>
						</li>
						<li>
							<a href="/meus-dados">Meus Dados</a>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								Informe-se <span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="/informacao">Informações</a>
								</li>
								<li>
									<a href="/faq">Perguntas e Respostas</a>
								</li>
								<li>
									<a href="/material">Material para Divulgação</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/contato">Contato</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<br/><br/><br/>
		
		<!-- Apoio e Hospedagem: DataField Soluções Tecnológica -->
		<a href="http://www.datafield.com.br" style="text-decoration:none;" target="_blank">		
			<div id="desenvolvido" style="position:fixed; bottom:20px; right:20px">
				<span style="font-size:10px; color:black;">Apoio e Hospedagem:</span><br>		
				<img src="/assets/logodatafield.png" height="30"/>
			</div>
		</a>
	</header>

	<div class="" style="margin-top: 25px;">
		<%= yield %>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!--
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.min.js"></script>
	-->
	
	<!-- Local Modules -->
	<!--
	<script src="/assets/jquery.min.js"></script>
	<script src="/assets/angular.js"></script>
	<script src="/assets/cnds.js"></script>
	<script src="/assets/home_controller.js"></script>
	-->
	

</body>
</html>
