<!DOCTYPE html>
<html ng-app="cnds">
<head>
  <title>:: CNDS - Cadastro Nacional de Doadores de Sangue ::</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="navbar navbar-default *navbar-fixed-top" style="border-bottom:2px solid red;">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">
						<img alt="Doe sangue" src="/assets/doe-sangue.svg" height="50" class="marginright10" >
						<div class="width290 margintop5">
							<span>Doador de Sangue</span>
							<br>
							<span class="font12">Cadastro Nacional de Doadores de Sangue</span>
						</div>
					</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="#">Cadastre-se</a>
						</li>
						<li>
							<a href="#">Solicite Sangue</a>
						</li>
						<li>
							<a href="#">Meus Dados</a>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								Informe-se <span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="#">Como Funciona?</a>
								</li>
								<li>
									<a href="#">Informações</a>
								</li>
								<li>
									<a href="#">Perguntas e Respostas</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Contato</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<div class="container" style="margin-top: 120px;">
		<%= yield %>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.min.js"></script>

	<!-- Local Modules -->
	<script src="/assets/cnds.js"></script>

</body>
</html>
